
.icon-the_multiplication_table:before { content: '\e800'; } /* '' */
.icon-hide:before { content: '\e801'; } /* '' */
.icon-show:before { content: '\e802'; } /* '' */
.icon-refresh:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */